MYSQL_IMAGE_VERSION=
MYSQL_DBDATA_FOLDER=
MYSQL_ROOT_PASSWORD=
MYSQL_IP_ADDRESS=

POSTGRES_IMAGE_VERSION=
POSTGRES_DBDATA_FOLDER=
POSTGRES_ROOT_PASSWORD=
POSTGRES_IP_ADDRESS=

MONGO_IMAGE_VERSION=
MONGO_DBDATA_FOLDER=
MONGO_ROOT_PASSWORD=
MONGO_IP_ADDRESS=

EXTERNAL_NETWORK_NAME=

#OPTIONAL
TIMEZONE=